[2019-06-24 20:03] sixtyfive commented on #94
Oh damn! That's what I was looking for and didn't find. Ouch, embarrassing! Thank you!!!

[2019-07-16 23:11] weshatheleopard commented on #339
I'm unable to reproduce your situation. Content seems to change properly and the cell does not appear blank in the output.

In order to use `modify_border` you should not forget to include workbook convenience methods (see this gem's documentation).

[2019-07-16 23:11] #339 closed

[2019-07-31 12:27] mtzlobr commented on #275
Hello everyone, I need to insert a barcode into an xlsx workbook, did you make some progress with this functions? Is there any example how to use it? Thanks a lot Mirek

[2019-08-08 15:10] stefsava commented on #301
I have this message with the latest version of the gem (3.4.5).
The workaround I am using is to save the file generated by Excel with LibreOffice (in xlsx of course).

[empty.xlsx](https://github.com/weshatheleopard/rubyXL/files/3482425/empty.xlsx)

[2019-08-08 17:32] weshatheleopard commented on #340
The issue you are talking about is with the construction of proper OOXML data structures, not with `RubyXL` per se. I would recommend the following course of action:

1) Using Excel, create an empty spreadsheet and save it;
2) In that spreadsheet, create the dropdown you are talking about in one cell. Save the spreadsheet again under a different name;
3) Unzip both spreadsheets (they are actually

[2019-08-08 17:32] #340 closed

[2019-08-14 10:04] nusken commented on #331
@weshatheleopard could you please take a look at this issue?

[2019-08-14 16:20] weshatheleopard commented on #331
@nusken Unable to reproduce. I open your file in most recent `rubyXL`, then save it, and Excel opens it without any issues.

[2019-08-14 16:20] #331 closed

[2019-08-21 20:06] #337 closed

[2019-08-26 18:22] amfazlani opened #341 "set_number_format('m/d/yyyy') is formatting date to m/d/yy instead of m/d/yyyy"
Hi thank you for this great gem. I had a quick question regarding date format 'm/d/yyyy'. It doesnt seem to be working as expected because when I use this number format the actual display date in excel shows as '4/4/16' instead of '4/4/2016'. Essentially the year is 2 digits instead of the expected four. This is my code:
`
        c = @sheet3.add_cell(index+1,13)
        c.set_number_format('m/d/y

[2019-09-04 15:15] tracyloisel commented on #304
why not. May be better to replace "General" with "Raw"

[2019-09-04 20:04] weshatheleopard commented on #341
When we try to register a new number format, `RubyXL` attempts to re-use an existing number format first. There are some system number formats of which ([format number 14](https://github.com/weshatheleopard/rubyXL/blob/master/lib/rubyXL/objects/stylesheet.rb#L43), is exactly what you give it, so it picks up that number as a match. However, that is a very special, [regional](https://excelsemipro.co

[2019-09-04 20:37] #341 closed

[2019-09-10 09:51] Rajagopalan-M opened #342 "How to save the existing Excel in the format of HTML?"
I don't know whether this feature is available. I don't find any reference for that so far. I am able to do this in Excel by clicking "save as" and giving the name of the file and then choosing Web Page(*.htm,*.html)?

I have looked into the write method which is actually alias for save method which throws the error If the given format is not .xlsx .xlsm.

Can anyone tell me whether any way we can

[2019-09-10 20:15] weshatheleopard commented on #342
I'm sorry, this is not a support forum.

[2019-09-10 20:15] #342 closed

[2019-09-10 20:17] weshatheleopard commented on #336
Can you please provide some example code demonstrating your problem?

[2019-09-10 20:18] #327 closed

[2019-09-10 20:26] weshatheleopard commented on #316
@rpasta42 I did some experiments of my own but I'm unable to reproduce the behavior you describe. Please provide the sample file.

[2019-09-10 20:26] #316 closed

[2019-09-10 20:27] #321 closed

[2019-09-10 20:35] weshatheleopard commented on #280
Since, as you rightfully mention, Excel only supports 31-character names, it is not possible to create such file in Excel. It is not possible to create such file in `RubyXL` wither, as it truncates the name before saving. I cannot control how *other* software packages deal with this file. So all in all, I believe current behavior is correct and intuitive. If you disagree, we can discuss.

[2019-09-10 20:35] #280 closed

[2019-09-10 20:37] #262 closed

[2019-09-10 20:38] #277 closed

[2019-09-10 20:40] #250 closed

[2019-09-24 11:05] g-fujioka opened #344 "How to change sheet name in chart data ?"
Hi.

The xlsx file template with the chart is loaded by RubyXL.
Is it possible to change the sheet name specified for data selection of the chart to another sheet name using RubyXL?

[2019-10-08 16:11] mainameiz opened #345 "Add changelog"
Hello everybody! First of all thanks to making such a great gem. It is very helpful :)

I have a couple of questions/suggestions:

1) Do you follow semver (https://semver.org/)?
2) Please, consider making a changelog/history file. It will help other people to upgrade between versions more convenient. There is a great guide about how to make a helpful changelog file - https://keepachangelog.com/.

[2019-10-08 23:57] weshatheleopard commented on #345
1. I am *trying* to follow that ruleset, but in order to avoid inevitable mistakes and following complaints like "but you said that you do follow it, but in fact you don't!!!111" I do not explicitly declare so.
2. I do not a) consider duplication to be useful (if you REALLY need to see what's changed, use `git diff`), and b) do not have time to write the same thing I just wrote in Ruby, in human l

[2019-10-08 23:58] #345 closed

[2019-10-14 16:11] nusken opened #346 "copy column style to another columns"
I'm working with an excel with multiple rows and columns, I wonder if we have a way to copy columns to other columns ( style, content, formula, ... ) with high performance?

ex: copy `B1:B100` to `E1:E100` with same style, content, formula, ...

I saw you talking about `ColumnRange` and `Row`, but can not see any example in docs. Could you help me?

thank you very much

[2019-11-04 13:30] sixtyfive opened #347 "FR: Reset cell/row/column/worksheet to "no formats applied""
When dealing with worksheets full of messy or confusing or inconsisent formatting, it would be useful to have something like Calc's "Clear direct formatting", for example in the form of `worksheet.clear_direct_formatting(row = nil, col = nil)` or whatever might make more sense than that. I'm not sure if something like that is even feasible; hence marked as Feature Request and very happy to get mys

[2019-11-04 13:38] sixtyfive opened #348 "FR (?): Set cell padding"
Is there any way (or if not, would it be feasible to implement such a thing?) to set a cell's top/bottom/lef/right padding in millimeters like can be done from within Excel or Calc (right mouse button on cell(s) > "Format cell" > "Borders" > "Padding")? For example `worksheet.get_padding(side = nil)` and `worksheet.change_padding(row, col, side = nil)`, where a `side` of `nil` would mean "all side

[2019-11-04 13:53] sixtyfive opened #349 "Changing border works; changing border color doesn't"
[code]

works fine on any file I've thrown at it with the `change_column_border_color` line commented out. But when that line is not commented out, this happens:

[code]

How do I find out what's going wrong here?

[2019-11-08 20:00] aleql opened #350 "High Memory Usage Issue"
My issue is that i need to generate an Excel file of around 230000 rows, which with the gem Axlsx consumed a large amount of memory, roughly 4 GB. I tried to change my app to use RubyXL Version 3.4.6 expecting to improve memory performance but it remained almost the same.
Am I using the a wrong version or this high memory usage is an expected performance?
Thanks in advance

[2019-11-13 05:06] yratanov opened #351 "change_font_size not found in 3.4.6"
When I try to do this in 3.4.6:
[code]

It throws error that method not found. Same for other methods from `WorkbookConvenienceMethods`.

It works in `3.3.29` though.

[2019-11-13 06:37] weshatheleopard commented on #351
Please read the section named "Convenience methods" in the [documentation](https://github.com/weshatheleopard/rubyXL/blob/master/README.rdoc).

[2019-11-13 06:37] #351 closed

[2019-11-18 15:27] avdept opened #352 "Custom date formatting not applies to cell"
So I have pretty simple code, which puts into cell date and applies formatting

[code]

The problem - formatting not applied. However if you go to formula bar and hit enter, formatting applies correctly. Any ideas what am I doing wrong?

[2019-11-21 21:14] packerbacker89 opened #353 "Regex deprecation warning in Ruby 2.7"
When using RubyXL with Ruby 2.7.0.preview1, the following deprecation warning is present when working with cells containing integers:

    rubyXL-3.4.6/lib/rubyXL/objects/sheet_data.rb:95: warning: deprecated Object#=~ is called on Integer; it always returns nil

A related error is present for accessing a cell with float data as well.

[2019-11-22 03:15] #353 closed

[2019-11-22 03:15] packerbacker89 commented on #353
This is fixed in 3.4.8

[2019-11-22 19:03] arohr commented on #240
Hi Niklaus

I have the same problem here. Have you found a solution to this problem?

btw: wir kennen uns von früher (mindclue)...

Andy

[2019-11-22 19:36] weshatheleopard commented on #240
@arohr do you have a sample file that exhibits this behavior?

[2019-11-22 19:43] arohr commented on #240
@weshatheleopard Yes: [Aggregates.xlsx](https://github.com/weshatheleopard/rubyXL/files/3881151/Aggregates.xlsx)

[2019-11-22 20:40] weshatheleopard commented on #240
@arohr: the 3rd party software was generating the file that isn't exactly up to spec (but not terribly out of spec either). Update the gem and try again.

[2019-11-22 20:41] #240 closed

[2019-11-22 22:20] weshatheleopard commented on #352
The formatting does get applied. The problem here is that you set the cell to contain a textual representation of the date, not the date itself! Your code should be

[code]

Then it all works.

[2019-11-22 22:20] #352 closed

[2019-11-26 10:25] avdept commented on #352
Well, yes, it works for Date, however is there a chance to have same behavior for DateTime objects?

[2019-12-04 18:14] KelvinWB commented on #349
I am with a similar problem with the "change_fill" method.
I try to run the method and this happens:

NoMethodError: undefined method `change_fill'

[2019-12-04 18:50] weshatheleopard commented on #349
See "Convenience methods" section in the documentation.

[2019-12-04 18:50] #349 closed

[2019-12-05 18:58] sixtyfive commented on #349
Thanks Weshat, I'll run your MWE on one of my files. If it WFY on a new Workbook then perhaps that's where the problem lies...

[2019-12-12 08:28] remi-wakeo commented on #296
Had the same issue on Ruby 2.6.5, Rails 5.2.0
I had to use a version < to 3.4 (I used 3.3.33)

[2019-12-16 09:57] echan00 opened #356 "How to traverse through all cells?"
I am hoping to traverse through all cells that are not empty in a worksheet. What is the best way to do that?

[2019-12-29 23:55] Nerian commented on #350
I have the same issue. Did you find out a way to decrease memory consumption?

[2020-01-07 11:48] HDLP9 commented on #230
I ran into this issue and "fixed it" by:

1. opening the excel and allowing Excel to repair it
2. use the new repaired excel as the template for RubyXL to open

And the error just got fixed for new exports. I really don't know why but it worked.

Give it a try.

[2020-01-07 11:50] HDLP9 commented on #198
I ran into this issue and "fixed it" by:

1. opening the excel and allowing Excel to repair it
2. use the new repaired excel as the template for RubyXL to open

And the error just got fixed for new exports. I really don't know why but it worked.

Give it a try.

Duplicate of #230

[2020-01-08 14:17] JimEvansIntox opened #359 "Support question - using rubyXL to get checkbox control and value"
I am trying to retrieve a checkbox control and its value using rubyXL and haven't yet figured out how to do so. (Finding cell values was very easy and thank you for that.) Google has been unsuccessful and I've started slogging through the docs, but any help would be appreciated.

Additional information: Poking around in the xlsx archive, I learned it is in `xl\drawings\vmlDrawing1.vml` so now figu

[2020-01-08 21:34] JimEvansIntox commented on #359
Found what I needed in Workbook#generic_storage where generic_storage[n].class = 'RubyXL::VMLDrawingFile'.
Then:
[code]

[2020-01-08 21:35] #359 closed

[2020-01-08 21:59] weshatheleopard commented on #359
I've never encountered VML files in excel before. If you can attach your file here for my reference, I might be able to make these recognizable bu this gem.

[2020-01-10 17:24] olugantipk1 commented on #188
Hi,
I get similar error while trying to write xlsx using jruby. Is there any workable solution? Any suggestion greatly appreciated.

workbook = RubyXL::Workbook.new
worksheet = workbook.add_worksheet('somesheet')
worksheet.insert_row(1)
worksheet.add_cell(0,0,'A1')
workbook.write("/path/output.xlsx")

nokogiri 1.10.7 (java) (tried downgrading as well)
jruby 9.2.0.0 (2.5.0)
ruby 2.5.1p57
java versi

[2020-01-10 21:21] weshatheleopard commented on #188
@olugantipk1 can you try [https://github.com/weshatheleopard/rubyXL/issues/188#issuecomment-359657380](this workaround) and see if it helps you? If it does, I will merge it into master.

[2020-01-11 20:33] olugantipk1 commented on #188
Thank You @weshatheleopard . That workaround worked!

[2020-01-14 20:54] olugantipk1 commented on #188
Hi @weshatheleopard, Would you be able to merge this up to master?
Let me know if you need anything from me. Thanks!

[2020-01-15 06:46] berpergian opened #361 "undefined method `[]' for nil:NilClass"
Hi, I'm trying to import excel data and we will not know how many row the data will have and the problem is i can't check if the next row is ```nil``` or empty

Here's the code
[code]

This is the example [Book1.xlsx](https://drive.google.com/file/d/1clxf1GxvVvbl0tkDybksAE67z6enNvpE/view?usp=sharing) and i using RubyXL ```3.3.31```
I already read #58 and #329 and still don't understand

[2020-01-15 08:36] berpergian commented on #361
**What i have done**

- Restarting the Rails
- Static loop (its works, read 10 row data and get half of data)

[2020-01-16 06:56] tham-1781 commented on #224
i did the same thing with your example but it doesn't works

[2020-01-19 06:28] berpergian commented on #361
**UPDATE**

So i decided to use ```.count``` method and loop using normal ```for``` loop
I will close this issue but i still prefer using my first way, if you can give me advice what's wrong with my first way.

[2020-01-19 06:28] #361 closed

[2020-01-19 07:14] weshatheleopard commented on #361
[code]

Seriously, this question does not seem like it has anything to do with this particular gem, it's just basic programming. Sorry, I just don't have time to educate every person on the internet, I have a job.

[2020-03-04 12:03] anshu2kumar commented on #275
Hi , I want to insert data per row in xls file and I am using RUBYXL . I have to insert image also for each row. image is different for each row. Actually I am getting data and image location every time per  row and I ahve to craete xls file using it.
Everywhere it is saying it is not possible.
Any suggestion ?

[2020-03-19 14:29] caramdache commented on #116
@weshatheleopard, was this ever implemented? I am running into the same issues as @kinkou and have developed some rudimentary code, but am progressively discovering that the issue is much more complex that I thought. Any code or advice would be much appreciated!

@kinkou, your gist is no longer available. Any chance you might republish?

[2020-03-19 18:17] caramdache commented on #116
OK I have since found:

- `cell.font_color` and
- `color.get_rgb(workbook)`

which seem to fit my needs.

[2020-03-19 18:43] caramdache commented on #116
There is an issue in `get_rgb` though. I have about 100 spreadsheets that I parse. In some of them, `get_rgb`  return an rgb value that misses 1 hex value.

For example:

- the following color in Excel: `rgb(266, 107, 10)`
- is encoded in a run as: `@theme=9, @tint=-0.249977111117893`
- which incorrectly becomes, using `get_rgb`: `e46ca`

[2020-03-19 18:53] weshatheleopard commented on #116
It is not immediately obvious to me how it is incorrect. What do you mean by "misses 1 hex value"?

[2020-03-19 19:42] caramdache commented on #116
A color would normally be of the form: `#xxyyzz` (6 hexa characters).

Here, there are only 5 hexa characters: `#e46ca`.

[2020-03-19 20:44] weshatheleopard commented on #116
Fixed, released.

[2020-03-20 08:33] caramdache commented on #116
Marvellous, I confirm that it works! I wished that I had had the insight of what the bug was really about to make a proper bug report. I'm sorry about that.

There is a further issue:

- when `rgb` is set, the returned rgb value is of the form: `FFrrggbb` (i.e. alpha==1)
- when the color is theme based, the returned value is: `rrggbb` (i.e. no alpha)

First, it would seem to make sense to follow t

[2020-03-20 08:38] caramdache commented on #116
BTW, I'm writing code to generate HTML from an Excel worksheet. I started with `openpyxl` and `pandas`, but there were too many limitations, in particular in handling merged cells, colors and runs, and I decided to switch to your library which is a great choice I've found.

I'd be happy to share that code once I've done. If you were to feel that it would be worth integrating in rubyXL, that would

[2020-03-20 12:40] caramdache commented on #116
A further issue is the resulting rgb color can be either uppercase or lowercase. That could be dealt with in application code, but it might be safer to convert all colors un lowercase or uppercase in the library.

[2020-03-20 15:16] caramdache commented on #116
Yet a further point where your advice would be beneficial. I have just come accross an issue where some of the formatting (color) is lost in the translation to HTML. This boils down to `font_color` and `get_cell_font` returning different values:

[code]
But for another cell there is no such issue, the rgb values are the same:

[code]

Is this usual? Which value should take precedence?

[2020-03-21 21:34] weshatheleopard commented on #116
That's working as expected: Excel stores colors with Alpha in `AARRGGBB` format. I just verified that.

`RubyXL` is not obligated to return the data in the format you want. It is obligated to give you a way to access the data you want. In this particular case, you have access to that data; converting it to the format you desire is *your* job as a programmer. (For example: `if str.length == 8 then

[2020-03-22 15:03] caramdache commented on #116
I cannot share this particular file unfortunately. However, I believe I know where the issue is: the `font_color` convenience method calls:

[code]

which in turns calls `get_rgb_color`:

[code]

which does return `nil` when the color is defined as a style.

I am under the impression the correct definition for `font_color` should be like:

[code]

[2020-03-24 01:14] kematy opened #363 "The cells returned by merged_cells is not complete"
The  cells returned by merged_cells is not complete，Many merged cells are not recognized
       merged_cells_hash={}
       worksheet.merged_cells.each do |mc|
          range=mc.ref.to_s.split(':')
          s_range=RubyXL::Reference.ref2ind(range[0])
          e_range=RubyXL::Reference.ref2ind(range[1])
          merged_cells_hash[[s_range[0],e_range[0]]]=[s_range[1],e_range[1] ]
       end
retu

[2020-03-24 01:21] #363 closed

[2020-03-24 03:44] weshatheleopard commented on #363
You are doing something wrong. Your code makes no sense, but one thing I can tell is that the line

` range=mc.ref.to_s.split(':')`

should NOT be there.  `Reference`  handles that already:

[code]

[2020-03-24 07:51] rockorequin opened #364 "Can't modify frozen String"
I encountered a spreadsheet that gave me a "FrozenError (can't modify frozen String: "")" when I tried to read one of the values with worksheet[x][y].value.

The issue is in class RichText < OOXMLObject (objects/text.rb). The to_s method does:

[code]
but in this case t was nil, and nil.to_s is a frozen String.

Changing the code to this fixes the problem:

[code]

[2020-03-25 00:05] weshatheleopard commented on #364
Already fixed, long time ago: https://github.com/weshatheleopard/rubyXL/commit/f0ed6a28dd4f5a1b39e64123be6dbfcdee439145 . Update the gem.

[2020-03-25 00:06] #364 closed

[2020-03-25 06:24] rockorequin commented on #364
Oh sorry, bundle had locked it and I stupidly didn't think to check!

[2020-03-26 13:45] caramdache opened #365 "System color ignored in get_rgb (and fix provided)"
When there is no `rgb` color and a theme is used instead, `Cell.get_rgb` retrieves the color from `a_srgb_clr`:

[code]

This does not work when a system color is used (theme = 0).  `a_sys_clr` should then be used instead of `a_srgb_clr`.

Working fix:

[code]

[2020-03-26 13:49] caramdache commented on #365
Here's a real example:

[code]

[2020-04-16 07:41] caramdache commented on #219
@weshatheleopard
I am trying to use this branch and it returns a type error:
[code]

[2020-04-16 08:04] caramdache commented on #219
@weshatheleopard could you also please sync this branch this master?

[2020-04-21 00:59] kematy opened #367 "how to set super or upper script of number?"
I want to know how to set super or upper script of number?There is no documents that describe that.

[2020-05-01 19:33] nconsulting opened #368 "Unable to change a cell"
I am unable to write new data in a cell. My code is:

`workbook = RubyXL::Parser.parse("test.xlsx")
worksheet = workbook[0]
counter = 0

books.each do |book|
      if not worksheet[counter].nil? and not worksheet[counter][0].nil?
        worksheet[counter][0].change_contents(book.title)
      else
        worksheet.add_cell(counter, 0, book.title)
      end
      counter = counter + 1
end`

The co

[2020-05-01 22:33] weshatheleopard commented on #368
Forgetting to read the documentation, in particular [this section](https://github.com/weshatheleopard/rubyXL#label-Convenience+methods)?

[2020-05-01 22:33] #368 closed

[2020-05-07 02:42] Tresky commented on #340
I know this is old, but I recently did a bit of digging into this and thought I'd leave my findings here for anyone who might want to implement this feature.

Creating a new blank spreadsheet with a single data validation dropdown in Excel creates this XML result.
[code]

When you use the given code above to create a data validation with RubyXL, you get the following result which, when opened in E

[2020-05-07 03:34] weshatheleopard commented on #340
@Tresky  yes, the OP's code is wrong. I probably should look at it at some point but it has to be a bit later.

[2020-05-07 03:36] Tresky commented on #340
Roger that. Whenever you get a chance, it would be very helpful. This might be a good thing to include in the Readme in the future.

[2020-05-07 19:14] Tresky commented on #340
After looking into this a bit more and digging through the code, I figured this one out. Hopefully, this code will benefit some other traveller who is in search of an answer to this question.

Here's my discovery on how to make this happen using the same example as the OP.
[code]

[2020-05-07 19:24] weshatheleopard commented on #340
Good job, you beat me to it :) That (off my memory) seems to be the absolutely correct way to do it. I will polish it a little bit and make a convenience method out of it.

[2020-05-07 19:30] Tresky commented on #340
Great! Looking forward to it. :+1:

[2020-05-07 22:25] weshatheleopard commented on #340
(sighs) and now I just started down the rabbit hole. There's a multitude of data validations ('list' being but one of them). There are very specific rules on how strings that are passed to formula are to be escaped. (Quotes replaced with double quotes; if commas are present, then string must be in quotes, etc.) As always, what looks like a quick-and-easy task, is anything but.

[2020-05-12 00:25] Tresky commented on #340
Such is the life of development. Lol problems are always deeper than originally expected

[2020-05-18 20:03] piloos opened #369 "controlProperties not supported"
When parsing and writing a xlsm file containing a button to trigger a macro, the written xlsm file opens with an error basically saying that the file is corrupt.

I noticed that the `[Content_Types].xml` file was missing the following line:
[code]

I could fix this by adding the `CONTENT_TYPE` constant in `storage.rb`
[code]

I assume that this was intentionally left out to not make it _ms-excel_

[2020-05-19 01:49] weshatheleopard commented on #369
Thanks! And no, it was not intentionally left out, it was just overlooked, and somewhat undertested as Excel has so many various features, and having *everything* work would be like re-writing the entire Excel!

[2020-05-20 12:45] vinodprak opened #370 "Unable to open Modified xlsx file in windows excel"
Hi

Am trying to change content of cell in few worksheets using `'rubyXL', '~> 3.4'`. After Modifying and saving am unable to open the sheet in windows excel.

`workbook  = RubyXL::Parser.parse("test.xlsx")`
`worksheet = workbook.worksheets[0] `
`worksheet[1][1].change_contents("dummy_content")`
`workbook.write("output.xlsx")`

Opening the modified file in excel gives me an error `We found a probl

[2020-05-22 08:18] amurlikowski opened #371 "`<main>': undefined method `[]' for nil:NilClass (NoMethodError)"
The code:
[code]

The error:
[code]

Version: rubyXL (3.4.14)

[2020-06-02 07:32] wagneramaral opened #372 "Unable to parse Metadata Part"
When I try to parse a xlsm file containing an instance of metadata part I receive the following message:

[code]

Reference to [metadata part](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-376,%20Fifth%20Edition,%20Part%201%20-%20Fundamentals%20And%20Markup%20Language%20Reference.zip) (page 81).

The simplest example that produce the error is the following:

[code]

It's not po

[2020-06-15 10:43] remi-wakeo commented on #350
Same here, for about 4000 rows. Is there a workaround by batch writing rows?

[2020-06-17 02:16] surenthvignesh opened #373 "Combine Multiple worksheets into one in same workbook"
Hi ,

Is there a way to combine Multiple worksheets into one in same workbook using rubyxl..?

[2020-06-17 13:44] MattiaMalonni commented on #371
By default the cell does not exist. You have to initialize it first with:

[code]

[2020-06-17 14:02] amurlikowski opened #374 "Issue parsing xlsm file"
When i try to parse the file (attachment) I'm getting following error:

Traceback (most recent call last):
        31: from C:/Users/adamur/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/verify.rb:7:in `<main>'
        30: from C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/rubyXL-3.4.14/lib/rubyXL/parser.rb:7:in `parse'
        29: from C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/rubyzip-2.3.0/

[2020-06-18 07:29] #371 closed

[2020-07-03 14:25] tomlobato commented on #264
Update col width after any .add_cell:
[code]

[2020-07-17 15:10] timon opened #376 "Time can't be used as a Cell value"
Hi there,

I have stumbled upon an issue when rubyXL doesn't write the Time values:

[code]

The resulting file consists of one empty cell and one cell with value

[2020-07-20 12:56] kitsunde opened #377 "RubyZip 2.3.0 changes workbook.stream encoding to ASCII-8BIT"
While upgrading we ended up installing `rubyzip 2.3.0` from 2.2.0 which broke:

[code]

Because `workbook.stream` is now no longer UTF-8. As far as I can tell I'm not able to pass a setting to rubyXL to set the encoding of the stream so I'm pinning rubyzip to 2.2.0 for now.

It appears this https://github.com/rubyzip/rubyzip/issues/438 change is the root cause.

[2020-07-22 14:12] luizlojaifg commented on #340
Thanks, buddy. I think you solved my problem. Thank you a lot. May God be with you, dude.

[2020-07-27 03:06] iToshk commented on #282
Same problem.
ex) Changed a cell (index num 0) horizontal_alignment caused that the other cell's (index num 25) horizontal_alignment changed.
<img width="552" alt="スクリーンショット 2020-07-27 12 03 23" src="https://user-images.githubusercontent.com/8890795/88499652-7550dd80-d001-11ea-81c2-c08bf2a61995.png">

[2020-08-04 05:26] weshatheleopard commented on #377
Um. I am confused.

1) Why are you using this strange construct: `File.open('test.txt', 'w') { |f| f.write(workbook.stream.read) }` when you can simply use `workbook.save "test.txt"` instead?
2) What exactly is the problem you are having? I just upgraded `rubyzip` to 2.3.0 (I use `ruby 2.7.1p83`) and ran that piece of code and did not encounter any issues.

[2020-08-04 06:33] #376 closed

[2020-08-04 06:35] #369 closed

[2020-08-13 20:09] kitsunde commented on #377
1. That's a very good question that I also would ask the guy that wrote that code if he was still around.
2. It seems like this is only happening when it's running in rails/rspec but using irb everything is fine

Using `workbook.save` fixes it for me, thank you! I'm going to close this since I don't think I'll end up debugging the root cause.

[2020-08-13 20:09] #377 closed

[2020-08-13 21:26] weshatheleopard commented on #377
OK. `workbook.stream` was specifically designed for use in Web servers that need to serve dynamically generated `xlsx` to clients, without wasting effort of "saving it to a tempfile and then returning the contents of tempfile". If that's not your use case, then you definitely should not use `stream`. And yes, poor programmers are a plague.

[2020-09-10 02:27] rubyFeedback opened #378 "[Documentation] Could the documentation (main README.rdoc) briefly mention whether libreoffice is supported?"
Copy from the title:

[Documentation] Could the documentation (main README.rdoc) briefly mention whether libreoffice is supported?

Reasoning: I sometimes need to autogenerate data into excel files. For the latter part I need to use gems; I think
I used another gem before but I can not remember the name, so I am looking for alternatives (rubyXL is actually
simpler to remember than that other gem :

[2020-09-10 03:53] weshatheleopard commented on #378
`rubyXL` generates files in OpenXML format. As such, they are supposed to be universally readable.

How about you confirm that OpenOffice reads them fine, and then I will add that to the documentation?

[2020-09-15 16:10] caramdache opened #379 "get_column_width_raw() handling default widths"
I'm doing some pixel calculations using, so I use `get_column_width_raw()`.  This works well, except for columns that have a defaut width. In this case, `get_column_width_raw()` returns null.

I've looked at the code for `get_column_width()`, it does handle default column widths, but not in pixel. Am I missing something? Is there any way for `get_column_width_raw()` to handle defaults widths? Woul

[2020-10-02 10:10] caramdache opened #381 "Convenience method for accessing individual merged cells, rather than just a reference"
Merged cells are a little bit of a red herring. Sometimes you want to access the actual cells rather than the reference/the MergedCell's. For example to obtain indivual borders for each of the cells in the merge. Which is required to be able to reproduce the exact borders.

In doing this work, I have found the following method useful. It may be a desirable inclusion in the library, probably under

[2020-10-02 10:34] caramdache commented on #381
Here's a more elaborate version.

[code]

[2020-10-14 17:26] caramdache opened #382 "is_date? incorrectly detecting string as date"
The cell with content:
[code]
and format:
[code]
is incorrectly detected as a date.

Additional debug information:
[code]

[2020-10-24 00:53] rasaffie opened #383 "Hidden columns after change_column_font_name"
There is a problem with [change_column_font_name](https://github.com/weshatheleopard/rubyXL/blob/a2836514a2662bd0632ac19b1502cb43aa638258/lib/rubyXL/convenience_methods/worksheet.rb#L512) on version 3.4.15. With code:
[code]
columns end up hidden (the worksheet starts at column D) when I open it using _Excel_ version 16.42 on macOS 10.15.7. But if I use [change_row_font_name](https://github.com/we

[2020-10-29 11:24] rPetas opened #384 "Formulas of t="shared" are processed as empty string"
The following file is a simple table with many formulas in the same row(basically a sum of each column in the table)
When the file is edited it automatically changes these formula to a "shared" type of formula to optimize space usage.

Currently when trying to read the formula on these cells with the "shared" type, the expression comes as an empty string, probably because the expression the in inl

[2020-10-29 21:44] bernica commented on #370
@vinodprak were you able to make it work? @weshatheleopard any feedback? I'm experiencing the same, minor text additions break it.

[2020-10-29 23:09] weshatheleopard commented on #384
I will  need some usage questions answered.

Specifically: the goal of `rubyXL` is not to give you an Excel experience. The goal is to give you access to the data, so you can make your own experience in  whatever way you deem suitable.

From that standpoint, `cell.formula` gives you access to `formula` tag of the XML encoding that cell, not "gives you formula that Excel shows in that cell".

It is

[2020-10-29 23:13] weshatheleopard commented on #370
@vinodprak you have not attached the file you are having problems with, and thus I cannot investigate.

[2020-10-30 02:52] weshatheleopard commented on #382
I do not understand your problem. What do you mean by "incorrectly detected as date"? Can you please provide a code sample?

P.S. Technically, `d-mmm` **is** a date format.

[2020-10-30 11:04] RenatoCoelhoPt commented on #302
I found this post that addresses how to create new sheets using an existing sheet as a template.
https://stackoverflow.com/questions/29507841/create-multiple-sheets-that-uses-same-template-using-rubyxl

[2020-10-30 12:47] bernica commented on #370
Sure thing, here it is:
[error_example.xlsx](https://github.com/weshatheleopard/rubyXL/files/5465134/error_example.xlsx)

After repairing Excel says something like "Repaired part: /xl/workbook.xml XML error part. Line 3, column 147."

[2020-10-30 14:24] bernica commented on #370
I tried with a MS Excel generated input file and was able to open the output file without problems, then I realized I was editing the same input file, which was Numbers (Mac) generated, so I worked around it by writing the output to a new workbook, although I needed to copy the original data.

[2020-11-03 02:52] weshatheleopard commented on #370
@bernica in your particular situation, the file contains some extended info that was generated by Google Sheets that is not a part of standard Excel format. Since it is not a part of the standard, `rubyXL` is not aware how to deal with it, and just passes it through. However, in the process of saving the data, `rubyXL` changes the IDs of the elements, and while it corrects those IDs on the element

[2020-11-03 20:25] caramdache commented on #382
The following code will output: `Date detected`.

[code]

The cell format is indeed a date format, but the cell value is a string (the string `"3-4"`) which is not a number. Hence the cell should not be detected as a date IMHO.

[2020-11-04 02:21] kematy opened #386 "How to unmerge cells?"
I only find merge_cells methods .but how to unmerge cells?

[2020-11-09 18:55] patrickkulling opened #387 "Return cell value with string formatter"
There are use cases where you want to use the StringFormatter for a cell, e.g. when the format of the cell is technically set to numeric/float, but the input is `20` (not `20.0`).

In these cases we would like to be able to avoid the mapping to ruby data types and return cell values as strings (in the above case `"20"`).

The POI library offers a method (and further customisation) for that.

see:

[2020-11-17 19:15] wscourge opened #388 "TypeError: superclass mismatch for class File"
When used in Rails, I get the following error running the `rails server` command:

This is a result of using the old version of [rubyzip gem](https://github.com/rubyzip/rubyzip). See [the gem's issue](https://github.com/rubyzip/rubyzip/issues/115) for reference.

This is the exact place where it mismatches the `File` superclass: _vendor/bundle/ruby/2.2.0/gems/rubyzip-1.2.3/lib/zip/file.rb:45_

Is

[2020-12-15 02:37] bonafernando commented on #304
Maybe even better. Make something just like when you paste something to excel that it doesn't ask you, it "magically" guess the format. Would be nice to have something similar. I stumble upon a problem to generate a table with several different kinds, but all strings on Ruby and I'm struggling to identify and format **percentage numbers**.

[2021-01-29 15:54] sixtyfive opened #389 ""WARNING: Storage class not found for docProps/core.xml""
This is with a fresh filed created by LibreOffice Calc 7.0.4.2. The full warning message reads:

[code]

And here's the contents of `docProps/core.xml`:

[code]

[2021-02-11 14:06] merakissb opened #391 "how to parse an xlsx file stored in activestorage and published in S3"
Hi,I am new to rails and its sea of ​​gems. (excuse me if what I'm asking seems obvious to some)

I am doing a project that reads and writes to xlsx file. To read I use 'roo' and to write  I use 'rubyXL'.

The downside is that when trying to use
`workbook = RubyXL :: Parser.parse_buffer (file.service_url) `
throws me a zip error.

`Zip :: Error (XLSX file format error: Zip end of central directory

[2021-02-11 14:35] weshatheleopard commented on #391
1. Please understand that his is not StackExchange, you do not come here to ask questions on how to accomplish something **you** need, you come here to report _actual_ problems with our software.
2. Parameter to `Parser#parse_buffer` is the buffer/string containing the actual body of the XLSX file. Whereas the snippet you supply, you are passing the URL at which the said file resides -- **not** th

[2021-02-11 14:35] #391 closed

[2021-02-11 14:38] weshatheleopard commented on #389
Can you please provide the file you are trying to parse so I can examine what is wrong with it?

[2021-02-11 16:30] sixtyfive commented on #389
Can't reproduce it anymore now. Assuming something changed in RubyXL. Will reopen if it ever reoccurs and attach full `.xlsx` then.

[2021-02-11 16:30] #389 closed

[2021-02-11 17:35] weshatheleopard commented on #388
Can you please see if the problem is solved? Current `rubzip` I'm using is 2.3.0.

[2021-03-18 00:54] seki commented on #372
Monkey patched.

[code]

[2021-03-18 11:51] jean-marc-voillequin opened #392 "fill_color returns white"
Hello,

With the attached xlsx, rubyXL tells me that cell A1 is white filled, whereas it is grey filled.

[code]

Did i missed something?
Thanks and regards
[a.xlsx](https://github.com/weshatheleopard/rubyXL/files/6163756/a.xlsx)

[2021-03-18 12:29] weshatheleopard commented on #372
@seki Can you please attach a sample file with which you are experiencing this issue?

[2021-03-19 14:49] seki commented on #372
Sorry, I can't show the sample file.

[code]

[2021-03-30 06:43] trysmr opened #393 "insert_row breaks a file"
Hi,

I'm trying to insert row using RubyXL (3.4.17). After then, an alert shows when I open a file.

![Screen Shot 2021-03-30 at 15 24 01](https://user-images.githubusercontent.com/794760/112944114-5ba5fe00-916d-11eb-9c97-265c69859cfa.png)

This error can reproduce below simple code.

[code]

[2021-03-30 15:13] #393 closed

[2021-04-13 04:44] iToshk opened #395 "I want to change the title (meta data)."
Looking for a way to change excel title property for displaying filename on the browsers.

[2021-04-13 06:58] weshatheleopard commented on #395
Sorry, this is the place to report bugs, not free educational seminar. Try Stack Overflow.

[2021-04-13 06:58] #395 closed

[2021-04-13 07:12] iToshk commented on #395
oh, Sorry.
I found the solution.
I looked for the methods in a workbook instance and I found that the root method has core_properties and inside there, dc_title was the one I looked for.

In short, I could get the title value by `wb.root.core_properties.dc_title.value`.
And set value by `wb&.root&.core_properties&.dc_title = RubyXL::StringNode.new(:value => title)`

I found that there are no metho

[2021-04-13 07:19] weshatheleopard commented on #395
See, you were able to accomplish exactly what you needed.

Are you saying you want to create a _convenience method_ to do that? Certainly, go ahead.

[2021-04-13 07:37] iToshk commented on #395
@weshatheleopard Yeah, actually the reason why I created this issue was that I wanted to ask you about making PR and commit about **a convenience method**. Thank you for the quick reply! (I didn't expect it so I was in the middle of writing comments)
(Indeed, I had already solved my problem and just wanted to know if it's good for making PR with it.)

Then, I'll make PR for _a convenience method_

[2021-04-13 10:39] weshatheleopard commented on #395
Sure. As I said, expecting this gem to have every single convenience method out-of-the-box is unreasonable, but making one yourself and then sharing with others is quite welcome.

[2021-05-04 14:54] s1499109 opened #397 "undefined method `[]' for nil:NilClass (NoMethodError) RubyXL"
[code]

[2021-05-04 14:56] s1499109 commented on #397
i used the count to get the number of documents that run through if statement. i've assigned it to 1 in above initialize method.

[2021-05-04 15:03] weshatheleopard commented on #397
You need to remember that `rows` is a *sparse* array, which means many of elements may be `nil`, and thus you have to expect that -- and NOT assume that  "every element is guaranteed to not be `nil`.

This is not a bug. `rubyXL` acts as intended.

[2021-05-04 15:03] #397 closed

[2021-05-10 16:16] tippexs opened #398 "Error: undefined method"
Using Ruby 2.5.0 with Rails 5.2.5

RubyXL Version:
` rubyXL (3.4.17)`
Gemfile.lock
[code]

I have a sidekiq worker task creating a XLS-Sheet:
[code]

In my Sidekiq console I am getting the following erros since 3.4. It was working with 3.3.

[code]

On the deployment server I am able to use the Rails console without any errors:

[code]

My Gems are auto-load in my boot.rb
[code]

Any idea why my t

[2021-05-11 06:03] tippexs commented on #398
Hi @weshatheleopard . Thats what I did before I posted this issue. I have added the lines in my module
[code]

Sorry for copying the wrong file content. Is there anything wrong with the require in my code block?

[2021-05-26 15:36] khiav223577 commented on #291
Try `worksheet.state = 'hidden'`

[2021-06-10 14:23] RongRongTeng commented on #307
Hi!

Is this issue solved?

[2021-06-17 05:37] gja opened #400 "How do I donate to this project?"
Been using this for a while, and would love to leave a tip.

We were trying to add a dropdown to our excel sheet, and was surprised that even this random requirement was in the readme.

Congrats on a job well done :-)

[2021-06-17 07:52] weshatheleopard commented on #400
Thank you for your kind words.  Your sentiment is highly appreciated, but I doubt that any *monetary* contribution will hold any value for me (but will complicate my tax return) -- other than the aforementioned *sentimental* one -- and you already gave me *that one* with your comment =^.^=

I don't need money, thanks heavens. But what I direly and utterly need is time, a.k.a. *dedicated* contribut

[2021-06-17 08:08] #400 closed

[2021-06-17 19:39] tomlobato commented on #199
Same here. With .includes and find_in_batch when querying DB it got better, but memory explodes on rubyXL .write.
I will try the approach: write to tsv and then ssconvert (from linux gnumeric) to xslx/xls.
I come back to let you know the results.

[2021-06-17 20:16] duffyjp commented on #199
@tomlobato I don't know if it fits your use case, but check out https://github.com/paxa/fast_excel.  I use it to export DB data to excel for users to download.   It's an FFI to a C excel library, so all the heavy lifting is really efficient.  If you're careful to avoid N+1 queries it's basically instantaneous.

It's write only, but I put my foot down at work and veto all Excel imports now. :D

[2021-06-17 22:23] tomlobato commented on #199
that sounds great, I will try too. Thks!

[2021-06-21 07:25] tracyperangusta commented on #273
Can we close this issue?

[2021-07-03 08:42] kyalpani opened #401 "Error recovery when opening MS Excel:"
Hi, using rubyXL, I am transforming an existing MS-Excel into a new one... When I open the new one, MS-Excel reports an error and tries to fix the errors...

**Excel completed file level validation and repair. Some parts of this workbook may have been repaired or discarded.
Removed Records: Named range from /xl/workbook.xml part (Workbook)
Repaired Records: Cell information from /xl/worksheets/she

[2021-07-16 00:55] hiennv0802 commented on #213
@weshatheleopard @hiroyuki-sato
Hello, is there any way to merge_rows?
I searched but still can't find any documents.
Thanks!

[2021-07-16 01:55] weshatheleopard commented on #213
@hiennv0802 I am not sure what you mean.

[2021-07-16 02:03] hiennv0802 commented on #213
@weshatheleopard
Thanks for your replying.
I mean how to merge rows (A2 - A3) like  hiroyuki-sato example:

![image](https://user-images.githubusercontent.com/8738514/125880109-b09340c0-dfe3-4d5c-9219-f6e02d26e526.png)

I'm only know merge cell using syntax: `worksheet.merge_cells(....)` but can't find syntax merge rows.
Maybe the library not supporting it?

[2021-07-16 02:06] weshatheleopard commented on #213
What you are showing me **_is_** "merging cells".

[2021-07-16 02:43] hiennv0802 commented on #213
@weshatheleopard
Sorry for misunderstand.
I confused between merge cell is only merge columns.
My problem is resolved.
Thanks!

[2021-09-28 16:37] hiennv0802 commented on #207
Hi all, i have some blank rows with border like this:

<img width="966" alt="blank_row" src="https://user-images.githubusercontent.com/8738514/135128729-c7f911e5-b541-4cda-baca-c9e0fe9f3ead.png">

I'm using syntax delete row but not working, could you give me the ideal. Thanks all!

[code]

[2021-11-17 15:26] jurriaanschrofer opened #404 "Sticky rows"
Hi guys,

First of all, thanks for this awesome gem :-)

I have been looking for a way to implement sticky rows, unfortunately without success. If this is not a feature of the gem that's all fine of course, but if it is, could you please point me to the source code location?

Since I expected it to be a part of the gem I have been looking, alas to no avail.

Thanks in advance

[2021-11-19 08:33] balgillo opened #405 "Underline style corrupted"
RubyXL writes an invalid XLSX file if an underline style is present.  Any underline style gets written as `<u val="1"/>` to the stylesheet file `xl/styles.xml`.

This has two effects:

1. Double underline is converted to single underline
2. The `.xslx` file written is not valid OOXML and cannot be loaded by `openpyxl` (though Excel can still load it).

# Steps to reproduce

Using Excel, I created

[2021-12-04 18:30] Nakilon opened #407 "Consider removing Gemfile.lock, at least from the .files[] in gemspec"
[It's a bad practice](https://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/)

[2021-12-08 00:13] andyzito commented on #401
I am also having this issue. I'm not even modifying the sheet, just reading it in and saving it to file without any changes:
[code]

[2021-12-08 00:23] weshatheleopard commented on #401
@andyzito `RubyXL` is not _perfect_, it's the best recreation we can do given the current technologies.

@kyalpani can you please provide the file you are having trouble with?

[2021-12-08 00:30] andyzito commented on #401
idk about @kyalpani, but I'm guessing my issue is related to https://github.com/weshatheleopard/rubyXL/issues/198.
I'm hoping that the workaround suggested at the end of that issue (importing/exporting with RubyXL, repair with Excel, then use that repaired file as the new base file) will work for our use case 🤞

@weshatheleopard Thanks for maintaining a gem that can do both reading + writing for x

[2021-12-08 06:23] kyalpani commented on #401
I will be glad to help you locate the problem. Unfortunately, as the Excels involved are proprietary (I do not own them) I am not able to provide them to you verbatim. If there is specific information that you require, I can try to locate it.  [#198 ](https://github.com/weshatheleopard/rubyXL/issues/198) is certainly related but reopening the excel was not an option in my case. Nonetheless, at lea

[2021-12-31 14:19] buncis commented on #368
here is the module docs https://www.rubydoc.info/github/weshatheleopard/rubyXL/RubyXL/CellConvenienceMethods

[2021-12-31 17:20] laptopmutia opened #408 "I have log error message when open excel file in rails app"
first I want to thank you for this simple but powerful xl editor thank you so much

my rails version is `6.1.4.1`

is this normal or an error logs? it takes a while for the  rails app to load/parse the file compared to normal ruby/irb

here are the error logs

[code]

[code]

here are the logs
[code]

the file is just fine if opened with irb or non rails ruby
[code]

apparently it also return weir

[2022-01-01 08:16] laptopmutia commented on #407
https://github.com/weshatheleopard/rubyXL/commit/1b1abf61b006c681a70a4f5d01ac1a8adeb9fc0b fixed in here should be closed

[2022-01-01 10:34] laptopmutia commented on #350
consider to use this guys https://github.com/Paxa/fast_excel
its backend using C so it should be fast

[2022-01-07 15:09] darkBuddha commented on #392
It's the same for me.

[2022-01-13 06:54] Naoya9922 opened #409 "Failed to write workbook when a cell contains null character"
Thank you for maintaining this awesome gem.

I have noticed that when a cell contains null character(\x00), it fails to write workbook with the error saying "string contains null byte (ArgumentError)".
Is it better to replace to another character when a cell contains null character?

### Gemfile.lock
[code]

### Code to reproduce the issue
[code]

[2022-01-13 21:26] weshatheleopard commented on #409
This is a very interesting situation... I'm not even sure Excel *allows* strings with null bytes? How did you run into this problem? Did you open an existing workbook and tried to save it? Or?

[2022-01-13 21:42] #409 closed

[2022-01-13 21:54] weshatheleopard commented on #408
What you see is what you get when you do `.to_s` on a Workbook. I do not immediately see from the code in this report where you may log this result, but *somebody* certainly does, and it's not `rubyXL`. Must be your app (or webserver, or the like).

My guess is that the workbook object is left at the end of some method of yours, and some other method believes that "whatever that method returned, h

[2022-01-13 21:54] #408 closed

[2022-01-30 04:44] weshatheleopard commented on #405
Good catch!

[2022-01-30 04:44] #405 closed

[2022-01-30 04:44] #407 closed

[2022-02-01 11:25] balgillo commented on #405
This still isn't quite working.  It's now producing `<u val=""/>`, which is invalid according to
[XSD](http://www.datypic.com/sc/ooxml/t-ssml_ST_UnderlineValues.html) and [openpyxl](https://foss.heptapod.net/openpyxl/openpyxl/-/issues/1766#note_165979).

[2022-02-18 21:22] chabgood opened #414 "undefined method change_content"
rubyXL (3.4.21)
I am getting this error in the rails console:

` worksheet[15][3].change_contents
Traceback (most recent call last):
        1: from (irb):9:in `evaluate'
NoMethodError (undefined method `change_contents' for #<RubyXL::Cell(15,3): "moo", datatype="str", style_index=27>)`

[2022-02-18 22:12] weshatheleopard commented on #414
I recommend that you [read the documentation](https://github.com/weshatheleopard/rubyXL#label-Convenience+methods) prior to writing code.

[2022-02-18 22:12] #414 closed

[2022-02-18 22:24] weshatheleopard commented on #382
One of the changes done in the past year solved this one. Closing.

[2022-02-18 22:24] #382 closed

[2022-02-18 22:25] weshatheleopard commented on #386
There is no pre-existing convenience method for that at this time. But you can certainly write one!

[2022-02-18 22:25] #386 closed

[2022-02-18 22:27] weshatheleopard commented on #378
Given the lack of reaction from the original reporter, I am closing this. There's no evidence that files generated by `rubyXL` are not supported by LibreOffice, and I do not have an _easy_ way to check that myself.

[2022-02-18 22:27] #378 closed

[2022-02-18 22:29] weshatheleopard commented on #387
I am not sure I am following. But, have you tried `cell.raw_value`? If I read correctly, that's what you want in this particular case.

[2022-02-18 22:29] #387 closed

[2022-02-23 04:06] RayYokoyama commented on #223
Is there any update on this issue?
I ran into the same problem.

I used the following test code to verify the issue. The results are as follows

[code]

[code]

As you can see, the time is not displayed correctly in Excel unless I offset the utc.

To fix this, I think we need to add the following modification to num_to_date.

[code]

Let me know how you'd like to proceed. I'm happy to submit a pul

[2022-03-17 20:32] Souravgoswami opened #417 "undefined method `fill_color' for #<RubyXL::Cell(1,5): nil, datatype=nil, style_index=30> (NoMethodError)"
I used the gem version 3.3.33, where it's giving me this error:

[code]
It's because nil.to_s in Ruby 2.7 is returning frozen string.

So I tried updating to the latest version 3.4.22 where the problem is apparently fixed, now I'm getting this error:

[code]

I know something has changed, but I can't find the fill_color method which I used to detect the background colour of the cell.

Any ideas wh

[2022-03-17 21:30] weshatheleopard commented on #417
It's in the [documentation](https://github.com/weshatheleopard/rubyXL#label-Convenience+methods).

[2022-03-17 21:30] #417 closed

[2022-03-17 22:26] Souravgoswami commented on #417
Well as I said, `cell.fill_color` doesn't work on newer versions. It worked in the older version 3.3.33 and those.

[2022-03-17 23:02] weshatheleopard commented on #417
You are not much of a reader, are you?

[code]

[2022-03-17 23:10] Souravgoswami commented on #417
Sorry, don't want to argue of course, you know it better.

I was trying to say that:

![image](https://user-images.githubusercontent.com/37468605/158908539-63ce9e99-cad3-4894-a6fd-f827f54e5b05.png)

On the above, I have 3.3.33, and on the bottom I have 3.4.22.

Not sure about add_cell(0, 0), but documentation says it's under "Modifying" category. I don't want to modify my spreadsheet, but just rea

[2022-03-17 23:12] weshatheleopard commented on #417
Ummm, hello? Where's `require 'rubyXL/convenience_methods'`?

[2022-03-17 23:17] Souravgoswami commented on #417
Yup, sorry, it works now. Wasn't aware of that separate method. Makes sense it reduces the memory footprint. Thank you very much!

[2022-03-22 23:55] khamusa commented on #190
In case you've reached this issue and are having trouble when setting `workbook.calc_pr.full_calc_on_load = true` because `calc_pr`, the following workaround did the trick for us:

[code]

Those values passed on the initializer of CalculationProperties are consistent with [this list](http://www.datypic.com/sc/ooxml/e-ssml_calcPr-1.html).

[2022-04-18 19:18] mewthu2 commented on #372
Try to parse another xlsx file, i have the same problem today and this resolve the issue

[2022-04-18 19:20] mewthu2 commented on #401
u can show us a file in question?

[2022-04-18 19:22] mewthu2 commented on #401
i think u have a path error... try do this same thing on tmp path

[2022-04-18 19:23] mewthu2 commented on #401
i think u have a path trouble.. try again with path="/tmp" (dont forget to upload file in there)

[2022-04-25 08:08] balgillo commented on #405
I don't seem to be able to reopen this issue, but it is not fixed (see previous comment)

[2022-05-11 18:56] alex-fawkes commented on #190
We're hitting an issue where the Excel `HYPERLINK` implementation chokes on URLs longer than 255 characters. It's apparently a [long-standing issue](https://stackoverflow.com/questions/3893541/exceeding-max-char-limit-in-excel) and not going away any time soon. Does RubyXL have a recommended workaround?

I've found using Insert > Link in Excel allows arbitrarily long URLs. Inspecting the XLSX cont

[2022-05-11 19:16] weshatheleopard commented on #190
@alex-fawkes if you can explain to me (or give me the link to the respective low-level tech article) HOW to do this the right way, I can implement it.

[2022-05-11 20:24] alex-fawkes commented on #190
@weshatheleopard I'm not sure on the right way yet but [here's an example file](https://github.com/weshatheleopard/rubyXL/files/8673143/InsertLongLink.xlsx) with a URL added by Insert > Link long enough to break `HYPERLINK`. Here are the relevant portions:

`xl/worksheets/_rels/sheet1.xml.rels`:
[code]

`xl/worksheets/sheet1.xml`:
[code]

[2022-05-11 21:26] alex-fawkes commented on #190
OK, I got something working:

[code]

@weshatheleopard it'd be awesome if you could adapt this and expose it as a convenience method or something! 🙏

[2022-05-12 00:27] weshatheleopard commented on #190
Can you please check the updated `master` branch to see if it accomplishes what you need. If it satisfies your needs, I will release a new version of the gem.

[2022-05-12 07:05] #388 closed

[2022-05-12 07:06] #356 closed

[2022-05-12 07:12] weshatheleopard commented on #348
When I right-click on a cell, I can do  Format Cells > Border, but there's no "padding" option on that dialog. So I'm not sure what this request is about.

[2022-05-12 07:12] #348 closed

[2022-05-12 07:13] #367 closed

[2022-05-12 09:15] sixtyfive commented on #348
![image](https://user-images.githubusercontent.com/192860/168036437-7da96a76-d4c0-4d53-b2ae-9189d28afd5f.png)

[2022-05-12 16:54] alex-fawkes commented on #190
That looks good! You might go ahead and add `change_font_color("0000ff"); change_font_underline(true)` since I think users would expect that, maybe with a kwarg to enable/disable. If not it's easy to do manually. Thank you!

[2022-05-13 07:39] sixtyfive commented on #348
Interesting, That picture came from LibreOffice Calc. I didn't think that it would have any features that Microsoft Excel doesn't have. But doing what you asked and then saving as .xlsx, closing, and opening the document again causes the padding to be lost. Setting the padding, daving as .ods, closing, and opening the document again causes it to be retained. The I have my answer. Thank you, Wesha!

[2022-05-13 17:32] weshatheleopard commented on #348
It feels like cell padding is not supported in the `SpreadsheetML` specification, so it cannot be supported by `rubyXL`. If I'm wrong, feel free to correct me.

[2022-05-13 19:15] alex-fawkes commented on #190
@weshatheleopard tested against master and works as expected 👍 I did notice Excel hits some other issues around 1024 chars but it's more than enough to cover our use case and they are workaround-able anyways.

What's timeline on the release look like? Eager to get it deployed 😁

[2022-05-13 20:01] weshatheleopard commented on #190
If this is sufficient for your purposes, then I will leave it as is and release today.

There's a built-in "Hyperlink" Excel style that can also be applied so the link is properly underlined etc but I do not think that is terribly important.

[2022-05-14 21:14] sixtyfive commented on #348
I agree.

[2022-05-14 21:32] weshatheleopard commented on #404
@jurriaanschrofer Can you be more specific as of what "sticky rows" is?

Also, can you create a blank workbook, make these "sticky rows" in it and attach it here? Then I can look how to implement that.

[2022-05-16 17:56] alex-fawkes commented on #190
@weshatheleopard this is definitely good for our purposes, we're ready for the release. Thank you! 🙌

[2022-05-18 15:20] mikhailworkpath opened #420 "[Question] How to set the quotePrefix for the cell"
Hey everyone,
I have a question about the option `quotePrefix` to hide the quote in xlsx editors. I found this option here: https://github.com/weshatheleopard/rubyXL/blob/fb661a86dd312bd735bef88a6854951f2f5bed56/lib/rubyXL/objects/cell_style.rb#L44
How can I apply this setting quotePrefix with a `true` value for a cell, I can not find an example or test for it.
Thanks!

[2022-05-19 15:48] weshatheleopard commented on #420
Judging by the fact that you are able to read the code, you are a software developer. _Figuring out how to do things_ is _the entire point_ of software developer's job. Asking questions "how to do it?" on the Internet is a helpful shortcut, yes, but github issue reporting tool is certainly not the place to do it; it is the place to report issues _with the product itself_, not issues with your _und

[2022-05-19 15:48] #420 closed, assigned to nobody

[2022-06-03 13:24] cesar82 commented on #224
Hi @weshatheleopard  and @ardavis
I am wondering if you have any progress on adding a comment for a cell?

I really appreciate your help, thanks

[2022-06-03 13:44] ardavis commented on #224
Unfortunately no progress. I haven't worked on this in quite some time, sorry!!

[2022-06-03 17:11] weshatheleopard commented on #224
@cesar82 No we were busy with our real lives. But you do understand that this is free and open source software, right? And the whole idea of free and open source software is that you, as a software developer, can implement whatever functionality that you need that is missing, and then offer it to the rest of the community as a patch, which (likely) may be included in the further releases of that s

[2022-06-03 17:49] cesar82 commented on #224
@weshatheleopard sorry, my apologies, I know you are busy and it is open source, it was not my intention to bother you, I really appreciate your open source software, but I can't add the functionality that I need right now,  it is not a high priority for now, but eventually I need to spend time on this feature.

Sincerely, my apologies and thanks for your gem.

[2022-07-28 22:34] OliverCai0 commented on #259
I had a similar issue. Separating the sheets so that each sheet was its own workbook seemed be a nice work around.

[2022-08-03 20:57] harsh183 commented on #381
Bumping this, I would definitely find it useful in one of my scripts.

[2022-08-03 21:12] weshatheleopard commented on #381
@harsh183 Please propose the consumer facing API.

[2022-08-04 15:21] harsh183 commented on #381
Something like `sheet.merged_cell_at([row, col])` since we don't want to change any behavior of [][] access giving normal cells for even merged ones. This can return `MergedCell.ref()` would give us where we can access the range variables.

[code]

[2022-08-04 18:07] machty commented on #267
Just for posterity in case anyone else is wondering whether/where this was fixed, but looks like it was here: https://github.com/weshatheleopard/rubyXL/commit/6252df10613a439d3cf40e212557714969048a3b

[2022-08-04 22:08] weshatheleopard commented on #381
@harsh183 So you are saying that for given (X,Y) you want to know the (X1....X2, Y1.....Y2) of the merged cell, of which the cell (X,Y) is a part of?

[2022-08-05 15:30] harsh183 commented on #381
Yeah that works, and being able to get/set properties of the entire merged cell.

[2022-08-06 12:27] msa7 commented on #181
Hi.

I have same issue after `insert_column(3)`.

Whole example:

[code]

it produce

`Cell #<RubyXL::Cell:0x0000000114293230> is not in worksheet`.

Any workaround?

[2022-08-06 16:16] caramdache commented on #381
Some properties are not set at the global merged cell level, but at the level of the individual cells which are merged. Borders are one example. The API should allow support for that.

[2022-08-06 18:33] weshatheleopard commented on #381
@caramdache precisely, so use your chance, go ahead and propose an API!

[2022-08-09 00:58] harsh183 commented on #381
@caramdache do you mean something like `merged_cell.first_cell` or maybe some iterator that gives all the individual cells that are part of a given merged cell for those you can't set at a global merged cell level?

And the rest can have a merged cell level set for things that can be like content?

For my project I'm just looking for merged_cell_at(x,y) but this is a part of the gem that can reall

[2022-08-09 00:59] harsh183 commented on #404
https://support.microsoft.com/en-us/office/freeze-panes-to-lock-rows-and-columns-dab2ffc9-020d-4026-8121-67dd25f2508f - probably something like this?

[2022-08-09 13:57] jurriaanschrofer commented on #404
@harsh183 indeed, exactly that. Thanks

[2022-08-10 09:50] caramdache commented on #381
@harsh183 I meant an iterator that provides the individual cells that are part of a merge range.

@weshatheleopard my use case was to be able to obtain the borders of a group of merged cells. The borders are  defined for each individual cell, hence the need for an iterator to obtain these cells.

[2022-08-11 12:31] bouaik opened #425 "xlsm format not working"
I'm generating a xlsm format but office 365 excel can't open it

[code]

[2022-08-15 23:49] harsh183 commented on #381
Yeah, I think that'll be generally useful for a lot of things.

[2022-08-16 07:29] MyklClason opened #426 "Copy an image from one sheet to another sheet?"
So here is what I'm trying to do:

1) Given an excel file with a single sheet it in (the template sheet)
2) Duplicate that sheet one or more times and changes each sheet (IE: Add rows)
3) The template sheet has an image in it.

This is working generally fine thanks to:
https://stackoverflow.com/questions/29507841/create-multiple-sheets-that-uses-same-template-using-rubyxl

However, I'm having trou

[2022-08-18 16:02] harsh183 commented on #425
Could you generate an xlsx and then convert that to xlsm?

[2022-08-22 13:18] bouaik commented on #425
convert it directly in excel you mean ??

[2022-08-26 18:20] harsh183 commented on #425
Yeah, like can you generate an xlsx file using rubyXL and then convert to xlsm using an external tool?

[2022-10-23 17:15] ddarbyson commented on #302
Seems like a very cumbersome workaround to a function that makes sense to be native. For us, we have styled worksheets that we duplicate and populate. B/c there's so much styling, its easiest to duplicate the sheet.

Hope to see an improvement to RubyXL to duplicate worksheets soon!

[2022-10-24 21:29] ddarbyson opened #428 "Overflow: Clip ??"
Can someone please tell me how I would set a cell Overflow to `clip`

I can see in the code there is `ST_TextVertOverflowType`, but unsure how to define this as default for every cell.

[2022-10-25 03:50] weshatheleopard commented on #428
It depends on what you are trying to do.

But generally you want something like this:

[code]

For specicis if your task you need to read through the documentation of OOXML format.

[2022-10-25 03:50] #428 closed

[2022-10-29 13:36] Gao-Jun opened #429 "How to change the default data type of a column?"
I use RubyXL to generate a template xlsx file for users to input data.
For one column, say 'Student No.', some data start with 0, like `0011`.
I hope the user can input this directly without changing the data type of the column to text.

I know that I can change the data type of a cell, but the number of the data is various, so I don't know how many lines an user will input.

Is there any way to c

[2022-11-28 17:00] jakevose opened #430 "RubyZip 3.0 will introduce breaking changes that rubyXL will currently depend upon"
Good afternoon, while running `bundle` this morning we noticed that RubyZip is getting a major version bump:

[code]

It appears that rubyXL will pull in the breaking changes automatically by gemspec:

[code]

Can you please review and adjust as needed?

[2022-11-28 21:35] weshatheleopard commented on #430
I reviewed the code and I do not believe that `RubyXL` is using `Zip` in a manner that would make it affected.

[2022-11-28 21:35] #430 closed